SUPABASE_KEY=use supabase private key here
SUPABASE_PUBLISHABLE_KEY=sb_publishable_somerandomdigit_a_amoe12t
SUPABASE_URL=https://yourprojecturl.supabase.co
GOOGLE_CLIENT_ID=random-value.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-some_random_value_iP4
# ENV=production
ENV=local
PORT=8000
